@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-popup-content-wrapper {
  background-color: rgba(242,239,233,1); /* фон попапа */
  border: 3px solid #000; /* рамка */
}

.leaflet-popup-tip {
  background-color: rgba(0,0,0,1); /* стрелка того же цвета */
  border: 3px solid #000;
}
